
*{
    margin: 0;
}

body{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0D1321;
}

button, input{
    font-family: "Azeret Mono", monospace; 
}
/* .azeret {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #0D1321;
} */

/* Shared style */
.btn-learn-more{
    background-color: #ffffff;
    border: 1px solid #0D1321;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    text-align: center;
    padding: 12px 20px;
    /* width: 175px; */
    /* height: 47px; */
    cursor: pointer;
    text-decoration: none;
}
.btn-learn-more a{
    text-decoration: none;
    color: black;
}

header{
    background-color: aliceblue;
    background-image: url(assets/Hero-bg.png);
    margin: 0px auto 74px;
    height: 652;
}

.banner{
    margin: 0px auto;
    padding-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    width: 998px;
}

.banner-title{
    text-align: center;
    margin-bottom: 24px;
}

.banner-description{
    margin: 0 auto 32px;
    padding: 0px 170px;
    text-align: center;
    line-height: 26px;
}

.btn-contact{
  text-align: center;
  margin-bottom: 47px;
}

.btn-primary{
    background-color: #0D1321;
    font-size: 20px;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    width: 244px;
    height: 65px;
    cursor: pointer;
}


/* main style */

/* web-development section */
.web-development{
    background-color: rgba(13, 19, 33, 0.02);
    max-width: 1140px;
    margin: 0px auto;
    margin-bottom: 90px;
    padding: 80px 97px;
}

.web-development-container{
    margin: 80px 97px;
}

.web-development-title{
    font-size: 32px;
    font-weight: 800px;
    margin-bottom: 24px;
    text-align: center;
}

.web-development-description{
    text-align: center;
    font-size: 16px;
    margin: 0px 48px 48px;
    line-height: 26px;
}

.web-development-card-one{
    background-image: linear-gradient(to right, rgb(255, 255, 255, 1) , rgba(255, 255, 255, 0));
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 48px;
}

.web-development-card-two{
    background-image: linear-gradient(to right, rgb(255, 255, 255, 0) , rgba(255, 255, 255, 1));
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 48px;
}

.web-development-card-three{
    background-image: linear-gradient(to right, rgb(255, 255, 255, 1) , rgba(255, 255, 255, 0));
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 48px;
}

.web-development-card-text{
max-width: 477px;
}

.web-development-card-text h2{
    margin-bottom: 16px;
    color: rgba(13, 19, 33, 0.7);
}

.web-development-card-text p{
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 26px;
}

/* inspiration section style */
.inspiration{
    max-width: 1140px;
    margin: 0px auto;
    margin-bottom: 90px;
}

.inspiration-content h1{
    font-size: 32px;
    font-weight: 800px;
    margin:0px 114px 48px;
    text-align: center;
}

.inspiration-content p{
    font-size: 16px;
    font-weight: 800px;
    margin:0px 114px 48px;
    text-align: center;
    line-height: 26px;
}   

.Inspiration-vid{
    margin: 0px auto;
}

.Inspiration-vid-content{
    border: 1px solid rgba(13, 19, 33, 0.2);
    text-align: center;
    padding: 32px;
    border-radius: 16px;
}

.iframe{
    border-radius: 16px;
}

/* target section style */
.target{
    /* border: 1px solid blue; */
    max-width: 1140px;
    margin: 150px auto;
    margin-bottom: 90px;
    text-align: center;
}
.target h1{
font-size: 32px;
font-weight: 800px;
padding-bottom: 24px;
}
.target p{
    font-size: 16px;
    padding-bottom: 48px;
    line-height: 26px;
    }
.target-cards{
    /* border: 1px solid blue; */
    display: flex;
    gap: 24px;
 
    

}
.target-card-one{
    /* border: 1px solid rgb(255, 217, 0); */
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 24px;
    text-align: left;
    min-width: 314px;


}
.target-card-two{
    /* border: 1px solid blue; */
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 24px;
    text-align: left;
    min-width: 314px;

}
.target-card-three{
    /* border: 1px solid rgb(30, 255, 0); */
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 24px;
    text-align: left;
    min-width: 314px;

}
.target-cards img{
    width: 56px;
}
.target-card-text{
    /* border: 1px solid rgb(30, 255, 0); */
    line-height: 26px;
}
.target-card-text h2{
    padding-bottom: 8px;
}

/* need support styles */
.need-support{
    max-width: 1140px;
    background-image: url(assets/handshake.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 0px auto;
    margin-bottom: 80px;
}

.need-support-container{
    /* border: 1px solid rgb(30, 255, 0); */
    padding: 64px 48px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.need-support-container h1{
    /* border: 1px solid rgb(30, 255, 0); */
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 16px;

}

.need-support-container p{
    /* border: 1px solid rgb(30, 255, 0); */
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 25px;
    line-height: 26px;
}

.need-support-form{
    display: flex;
    margin: 0px auto;
    
}
.need-support-form form{
    display: flex;
    margin: 0px auto;
    gap: 16px;
    
}
.need-support-form input{
    border-radius: 8px;
    border: none;
    padding: 20px;

    
}
.need-support-form input[type="text"]{
    font-size: 16px;
    width: 548px;

}
.need-support-form input[type="submit"]{
   font-size: 20px;
   font-weight: 600;
   cursor: pointer;
   width: 120px;
}

/* footer styles */
footer{
    background-color: rgba(13, 19, 33, 0.03);
}

.footer-container{
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container h4{
    font-size: 20;
    font-weight: 600;
    padding: 38px 0px;

}

.footer-container{
    max-width: 1140px;
    margin: 0px auto;

}
.footer-sm-icon{
    padding: 38px 0px;
}

.footer-sm-icon img{
    width: 36px;
    padding-left: 24px;
}

