
*{
    margin: 0;
}
body{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0D1321;
}


/* .azeret {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #0D1321;
} */

/* Shared style */
.btn-learn-more{
    background-color: #ffffff;
    border: 1px solid #0D1321;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    text-align: center;
    padding: 10px 24px;
    width: 175px;
    height: 47px;
}

header{
    background-color: aliceblue;
    background-image: url(assets/Hero-bg.png);
    margin: 0px auto 74px;
    /* width: 1140px; */
    height: 652;
    

}

.banner{
    /* border: 1px solid blue; */
    margin: 0px auto;
    padding-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    width: 998px;
    
}
.banner-img img{
    /* border: 1px solid blue; */
    /* width: 240px; */
}
.banner-content{
    /* border: 1px solid rgb(255, 187, 0); */

}
.banner-title{
    /* border: 1px solid blue; */
    text-align: center;
    margin-bottom: 24px;
}
.banner-description{
    /* border: 1px solid rgb(241, 3, 3); */
    margin: 0 auto 32px;
    padding: 0px 170px;
    text-align: center;

}
.btn-contact{
    /* border: 1px solid rgb(50, 22, 207); */
  text-align: center;
  margin-bottom: 47px;
}
.btn-primary{
    /* border: 1px solid rgb(207, 22, 161); */
    background-color: #0D1321;
    font-size: 20px;
    font-weight: ;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    width: 244px;
    height: 65px;

}


/* main style */
main{
    
}
/* web-development section */
.web-development{
    /* border: 1px solid rgb(207, 127, 22); */
    background-color: rgba(13, 19, 33, 0.02);
    max-width: 1140px;
    margin: 0px auto;
    margin-bottom: 90px;
    padding: 80px 97px;

}
.web-development-container{
    /* border: 1px solid rgb(207, 22, 161); */
    margin: 80px 97px;
}
.web-development-title{
    font-size: 32px;
    font-weight: 800px;
    margin-bottom: 24px;
    text-align: center;
}
.web-development-description{
    text-align: center;
    font-size: 16px;
    margin: 0px 48px 48px;
}
.web-development-cards{
    /* border: 1px solid rgb(22, 207, 84); */
}
.web-development-card-one{
    /* border: 1px solid rgb(37, 207, 22); */
    background-image: linear-gradient(to right, rgb(255, 255, 255, 1) , rgba(255, 255, 255, 0));
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 48px;
}
.web-development-card-two{
    /* border: 1px solid rgb(37, 207, 22); */
    background-image: linear-gradient(to right, rgb(255, 255, 255, 0) , rgba(255, 255, 255, 1));
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 48px;
}
.web-development-card-three{
    /* border: 1px solid rgb(37, 207, 22); */
    background-image: linear-gradient(to right, rgb(255, 255, 255, 1) , rgba(255, 255, 255, 0));
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 48px;
}
.web-development-card-text{
max-width: 477px;
}
.web-development-card-text h2{
    margin-bottom: 16px;
    color: rgba(13, 19, 33, 0.7);
}
.web-development-card-text p{
    font-size: 16px;
    margin-bottom: 16px;
}

